@font-face {
  font-family: "font";
  src: url("Beatrice-Medium.woff2") format("truetype");
}
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "font", "sans-serif";
  background-color: rgb(245, 245, 247);
}

.upper-nav {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  min-height: 6rem;
}

.upper-nav-img {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  margin-left: 1.6rem;
}

.upper-nav-paragraph {
  line-height: 1.25rem;
}

.sec-one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

.one-div {
  width: 85%;
}

.two-div {
  width: 100%;
}

.one-hero-h1 {
  font-size: 3rem;
  font-weight: normal;
}

.one-h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 3rem;
}

.carousel-container {
  overflow-x: scroll;
  height: 400px;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  width: 1660px;
  justify-content: start;
  margin: 20px 0 0 25px;
}

.carousel-item {
  height: 350px;
  width: 300px;
  background-color: #fff;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.08);
  /* border-collapse: collapse; */
  text-align: center;
  position: relative;
}

.carousel-item-paragraph {
  width: 80%;
  font-size: 1.3rem;
  background-color: #fff;
}

.smal {
  font-size: 1rem;
}

.span-green {
  color: #457134;
  background-color: #fff;
}

.carousel-item-plus-horizont {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 0.8rem;
  color: rgb(204, 204, 204);
  background-color: #fff;
  border-radius: 18px;
}

.two {
  width: 1330px;
}

.three {
  width: 2000px;
}

.one-h1-low {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 1rem;
}

.lower {
  font-size: 0.8rem;
  background-color: #fff;
}

.karte {
  width: min(100%, 400px);
  border-radius: 20px;
  margin: 1rem 0 2rem;
  box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.08);
}

.schichten {
  height: inherit;
  border-radius: 18px;
}

.schichten-liste {
  width: 75%;
  margin-top: 3rem;
}
.schichten-liste li {
  background-color: #fff;
  border: none;
}
.schichten-liste li p {
  background-color: #fff;
}

.schichten-paragraph {
  background-color: #fff;
}

.schichten-div {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
}

.nutzen-div {
  margin: 1rem 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.nutzen-kacheln {
  width: 100%;
  height: 5rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 18px;
  box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.08);
}

.nutzen-paragraph {
  font-size: 1rem;
  width: 90%;
  background-color: #fff;
  text-align: center;
}

.lower-nav {
  background-color: #fff;
  margin-top: 3rem;
}

.lower-nav-h1 {
  background-color: #fff;
  min-height: 6rem;
  display: flex;
  width: 90%;
  align-items: end;
  justify-content: start;
  margin-left: 2rem;
}
.lower-nav-h1 h1 {
  background-color: #fff;
}

.nav-carousel-container {
  overflow-x: scroll;
  height: 200px;
  background-color: #fff;
}

.nav-carousel-container::-webkit-scrollbar {
  display: none;
}

.nav-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  width: 680px;
  justify-content: start;
  margin: 15px 0 0 25px;
  background-color: #fff;
}

.nav-carousel-items {
  background-color: #E8E8ED;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 100px;
}
.nav-carousel-items p {
  background-color: #E8E8ED;
  color: #000;
  font-size: 0.9rem;
}

.nav-carousel-items-link {
  text-decoration: none;
  background-color: #fff;
}

.thank-you {
  min-height: 3rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.thank-you-paragraph {
  font-size: 0.8rem;
  background-color: #fff;
  padding-bottom: 1rem;
}
.thank-you-paragraph span {
  background-color: #fff;
}

.thank-you-collab {
  font-size: 0.7rem;
  background-color: #fff;
  text-align: center;
  padding-bottom: 3rem;
}

.external::after {
  content: url("images/external.png");
  background-color: #fff;
  margin: 10px 5px 0;
}/*# sourceMappingURL=style.css.map */